<!DOCTYPE html>
<html>

<head>
    <base href='/' />
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="Description" content="" />
    <style>
        span::first-letter {
            font-size: 200%;
            color: #8A2BE2;
        }
    </style>
    <link rel="stylesheet" href="assets/css/slyframework.css" type='text/css' />
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="assets/mq/custom-small.css" type='text/css' media="(max-height: 660px) width:  and (max-width: 430px)"
    />
    <script src='node_modules/jquery/dist/jquery.min.js'></script>
    <script src='node_modules/angular/angular.min.js'></script>
    <script src='node_modules/angular-messages/angular-messages.min.js'></script>
    <!-- angularCore:js -->
    <!-- endinject -->
    <!-- angular:js -->
    <script src="assets/js/Core/app.js"></script>
    <script src="assets/js/Core/Controllers/MainController.js"></script>
    <!-- endinject -->
</head>

<body ng-app='Sample.App' ng-controller="MainController as vm">
    <div id="wrapper">
        <div id='columnOne'>
            <header>
                <span>Business</span> <span>Now</span>
            </header>
        </div>
        <div id='columnTwo'>
            <header>
                <nav style='width: 80%;margin: 0 auto; '>
                    <ul style='height: 3vh;display: flex;list-style: none;margin: 0; padding: 0;text-align: center;'>
                        <li style='flex: 3;border: 1px solid white;height: 3vh; line-height: 3vh;text-align: center; '>Home</li>
                        <li style='flex: 3;border: 1px solid white;height: 3vh; line-height: 3vh;text-align: center; '>Help</li>
                        <li style='flex: 3;border: 1px solid white;height: 3vh; line-height: 3vh;text-align: center; '>Button 1</li>
                        <li style='flex: 3;border: 1px solid white;height: 3vh; line-height: 3vh;text-align: center; '>Button 2</li>
                    </ul>
                </nav>
            </header>
            <div id='body'>
                <h1>{{ vm.Title }}</h1>
                <ul>
                    <li>Panels</li>
                    <li>Colors</li>
                    <li>Buttons</li>
                    <li>Data Tables</li>
                    <li>Hash Tags</li>
                    <li>Forms</li>
                    <li>Badges</li>
                </ul>
                <h3>Form</h3>
                <form>
                    <div class='rowContainer'>
                        <div class='element-group'>
                            <label>First Name</label>
                            <input type='text' name='fname' placeholder='First name' />
                        </div>
                        <div class='element-group'>
                            <label>Middle Name</label>
                            <input type='text' name='mname' placeholder='Middle name' />
                        </div>
                        <div class='element-group'>
                            <label>Last Name</label>
                            <input type='text' name='lname' placeholder='Last name' />
                        </div>
                    </div>
                    <label>Search</label>
                    <input type='search' name='search' placeholder='search' />
                    </li>
                    <li>
                        <label>Telephone</label>
                        <input type='tel' name='telephone' placeholder='Telephone' />
                    </li>
                    <li>
                        <label>Password</label>
                        <input type='password' name='password' placeholder='Password' />
                    </li>
                    <li>
                        <label>Text</label>
                        <input type='text' name='text' placeholder='Text' />
                    </li>
                    <li>
                        <label>Email</label>
                        <input type='email' name='email' placeholder='EMail' />
                    </li>
                    <li>
                        <label>Date</label>
                        <input type='date' name='date' placeholder='Date' />
                    </li>
                    <li>
                        <label>Date Time</label>
                        <input type='datetime' name='datetime' placeholder='Date Time' />
                    </li>
                    <li>
                        <label>Image</label>
                        <input type='image' name='image' placeholder='Image' />
                    </li>
                    <li>
                        <label>Radio</label>
                        <input type='radio' name='radio' placeholder='Radio' />
                    </li>
                    <li>
                        <label>Range</label>
                        <input type='range' name='range' placeholder='Range' />
                    </li>
                    <li>
                        <label>Date Time Local</label>
                        <input type='datetime-local' name='datetime-local' placeholder='Date Time Local' />
                    </li>
                    <li>
                        <label>Title</label>
                        <input type='file' name='file' placeholder='File' />
                    </li>
                    <li>
                        <label>Number</label>
                        <input type='number' name='number' placeholder='Number' />
                    </li>
                    <li>
                        <label>Time</label>
                        <input type='time' name='time' placeholder='Time' />
                    </li>
                    <li>
                        <label>Week</label>
                        <input type='week' name='week' placeholder='Week' />
                    </li>
                    <li>
                        <label>URL</label>
                        <input type='url' name='url' placeholder='Url' />
                    </li>
                    </ul>
                </form>
                <h3>Section Headers</h3>
                <section class='form'>
                    <div class='header'>
                        COMMUNICATION
                    </div>
                    <div class='body'>
                        <h3>Body for Section</h3>
                        <div class='rowContainer'>
                            <div class='element-group'>
                                <button type='submit' name='submit'>Save - Submit</button>
                                <button type='button' name='button'>Save - Button</button>
                                <button type='reset' name='reset'>Reset</button>
                                <button type='button' name='reset' class="buttonDisabledPrimary">Button Disabled</button>
                            </div>
                        </div>
                    </div>
                </section>
                <P />
                <P />
                <P />
                <h3>Data Table</h3>
                <div class='dataTable'>
                    <div class="dataTableHeaderRow">
                        <div class='dataItem'>Name</div>
                        <div class='dataItem'>Source</div>
                        <div class='dataItem'>Queued Time</div>
                        <div class='dataItem'>Assignee</div>
                    </div>
                    <div class="dataTableRow">
                        <div class="dataItem">Davis Sylvester III</div>
                        <div class='dataItem'>Google</div>
                        <div class='dataItem'>30 mins</div>
                        <div class='dataItem'>
                            <select id='assignee' name='assignee'>
                                <option value='1001'>Sales Consultant 1</option>
                                <option value='1001'>Sales Consultant 2</option>
                                <option value='1001'>Sales Consultant 3</option>
                           </select>
                        </div>
                    </div>
                    <div class="dataTableRow">
                        <div class="dataItem">Davis Sylvester III</div>
                        <div class='dataItem'>Google</div>
                        <div class='dataItem'>30 mins</div>
                        <div class='dataItem'>
                            <select id='assignee' name='assignee'>
                                <option value='1001'>Sales Consultant 1</option>
                                <option value='1001'>Sales Consultant 2</option>
                                <option value='1001'>Sales Consultant 3</option>
                           </select>
                        </div>
                    </div>
                </div>
                <h3> Buttons </h3>
                <button class='btn btn-float'></button>
                <h3>Toggle </h3>
                <div class='toggle'>
                    <input type="checkbox" id='toggleCB' />
                    <label for='toggleCB' class='toogleLabel'></label>
                </div>
                <h3> Cards</h3>
                <div class='cardsDemo'>
                    <div class='contactCard'>
                        <div class='contactPhone'>
                            <img src="#" alt='Photo of Potential Customer' />
                        </div>
                        <div class='contactInfo'>
                            <div class='contactData'>
                                <label> First Name</label>
                                <input type='text' disabled='true' name='firstName' />
                            </div>
                        </div>
                    </div>
                </div>
                <h3 style="margin-top: 30px;"> Calendar Control </h3>
                <div class='calendarControlDemo'>
                    <!--
                    <div class='flex-container' style='border: 3px dotted pink;'>
                        <div class='row-flex' style='border: 1px solid red;background: grey;justify-content: flex-end;'>
                            <span style='text-transform: uppercase;'>NOVEMBER</span>
                        </div>
                        <div class='row-flex' style="flex-wrap: wrap;" >
                            <div class="col-2" style="height: 50px;border: 1px dashed green;flex-direction: column;">
                               <span>S</span>
                            </div>
                            <div class='col-2' style="height: 50px;border: 1px dashed green;flex-direction: row;">M</div>
                            <div class='col-2' style="height: 50px;border: 1px dashed green;flex-direction: row;">T</div>
                            <div class='col-2' style="height: 50px;border: 1px dashed green;flex-direction: row;">W</div>
                            <div class='col-2' style="height: 50px;border: 1px dashed green;flex-direction: row;">Th</div>
                            <div class='col-2' style="height: 50px;border: 1px dashed green;flex-direction: row;">F</div>
                            <div class='col-2' style="height: 50px;border: 1px dashed green;flex-direction: row;">Sa</div>                            
                        </div>
                        -->
                </div>
                <table style="border: 1px solid green; width: 100%;margin-top: 500px;margin-bottom: 100px;">
                    <thead>
                        <tr style="text-align: center;width: 100%;font-size: 1.6em;color: #2273CA;">
                            <th colspan="1" style=" height: 60px; font-size: 1.3em;text-align: center; border: 1px solid red;">
                                <</th>
                                    <th colspan="5" style=" height: 60px; font-size: 1.3em;text-align: center; border: 1px solid red;">
                                        <h1 style="font-size: 1.6em;text-transform: uppercase;"> November </h1>
                                    </th>
                                    <th colspan="1" style=" height: 60px; font-size: 1.3em;text-align: center; border: 1px solid red;">></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Sun</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Mon</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Tue</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Wed</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Thu</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Fri</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;color: #2273CA; text-transform: uppercase; font-size: 1.2em;">Sat</td>
                        </tr>
                        <tr>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">-</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">-</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">1</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">2</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">3</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">4</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">5</td>
                        </tr>
                        <tr>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">6</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">7</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">8</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">9</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">10</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">11</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">12</td>
                        </tr>
                        <tr>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">13</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">14</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">15</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">16</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">17</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">18</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">19</td>
                        </tr>
                        <tr>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;">20</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;">21</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;">22</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;">23</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;">24</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;background: #2273CA; color: #FFF;">25</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%;font-size: 1.2em;">26</td>
                        </tr>
                        <tr>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">27</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">28</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">29</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">30</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">1</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">2</td>
                            <td style="border: 1px dotted grey;text-align: center;height: 60px; width: 14%; font-size: 1.2em;">3</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-8" style="border: 1px solid pink; background: slateblue;">
                        col-8
                    </div>
                    <div class="col-1" style="border: 1px solid pink; background: peru;height: 30px;">
                        test
                    </div>
                </div>

                <div style="display: flex; position: relative;height: 40px;background: #2273CA;width: 300px;
                        align-items: center;">
                    <div style="background: #8A2BE2; width: 200px;">aaaa</div>
                </div>



                <div class="row">
                    <div class="col-4" style="background: blue;">Col 1</div>
                    <div class="col-4" style="background: blueviolet;">Col 2</div>
                    <div class="col-4" style="background: cornflowerblue;">Col 3</div>
                    <div class="col-4" style="background: lightskyblue">Col 4</div>
                </div>

                <div class="row">
                    <div class="col-2" style="background: red;">Col 2</div>
                    <div class="col-8" style="background: palevioletred;">Col 8</div>
                    <div class="col-5" style="background: orangered;">Col 5</div>
                    <div class="col-1" style="background: indianred;">Col 1</div>
                </div>

                <div class="col-16" style="background: mediumspringgreen;">Col-16</div>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-4" style="background: blue;">Col 1</div>
        <div class="col-4" style="background: blueviolet;">Col 2</div>
        <div class="col-4" style="background: cornflowerblue;">Col 3</div>
        <div class="col-4" style="background: lightskyblue">Col 4</div>
    </div>

    <div class="row">
        <div class="col-2" style="background: red;">Col 2</div>
        <div class="col-8" style="background: palevioletred;">Col 8</div>
        <div class="col-5" style="background: orangered;">Col 5</div>
        <div class="col-1" style="background: indianred;">Col 1</div>
    </div>

    <div class="col-16" style="background: mediumspringgreen;">Col-16</div>

    <div class="row">
        <div class="col-4" style="border: 1px solid red;">Davis 1</div>
        <div class="col-4" style="border: 1px solid navy;">Davis 2</div>
        <div class="col-4" style="border: 1px solid purple;">Davis 3</div>
        <div class="col-4" style="border: 1px solid green;">Davis 4</div>
    </div>
</body>

</html>