
@import "variables";
@import "button-variables.less";


.btnCommon{
    @PrimaryButtonFont: @PrimaryFontSemiBold;
    position: relative;
    vertical-align: top;     
    margin-right: 30px;
    border: none;
    border-top-right-radius: 3px;
    background: @DarkPrimaryColor;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button {
    @PrimaryButtonFont: @SecondaryButtonFont; // @PrimaryFontSemiBold;
    position: relative;
    vertical-align: top;
    width: 100%;  
    max-width: 150px;  
    font-size: 1em;
    margin-right: 30px;
    padding: 15px 28px;
    border: 1px solid darken(@DarkPrimaryColor, 6%);
    border-top-right-radius: 3px;
    background: @DarkPrimaryColor;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:last-child{
    margin-right: 0px;
}

button:hover,
button:active{
    outline: none;
    transition: background .1s ease-in-out .3s;
    background: darken(@DarkPrimaryColor, 7%);
    font-weight: 500;
}

.btn-float{
    .btnCommon;   
    width: 48px;
    height: 48px;   
    border-radius: 50%;    
    line-height: 48px;
    position: relative;
    

}

.btn-float:after{
    position: absolute;
    font-family: 'FontAwesome';     
    content: '\f067';
    color: #FFF;
    font-size: 28px;
    top: 0px;
    left: 12px;
}

.btn-float:active{
    
}


.buttonDisabledPrimary {
    // background: lighten(@DarkPrimaryColor, 55%);
    opacity: .5;
    color: #Ccc;
    //color: #000; // @PrimaryButtonTextColor;
}

.addButton {
    display: flex;
    background: @actionButtonColor; // #E2F4F2; //lighten(#009688, 20%);
    border: 1px solid darken(@actionButtonColor, 15%);
    margin-right: 5px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    font-size: .9em;
    min-width: 0;
    font-family: "Raleway";
    letter-spacing: .1em;
}

.addButton:hover {
    background: darken(#009688, 5%);
    color: #E2F4F2;
}

.addButton > div {
    
    margin-right: 5px;
    
}

.disabledButton {
    background: fadeout(@actionButtonColor, 90%);
    cursor: not-allowed;
}

.disabledButton:hover {
    cursor: not-allowed;
    background: fadeout(@actionButtonColor, 90%);
    color: #000;
}




