@PrimaryButtonFont: @Raleway;

@DangerColor: @DarkRed;
@CallButtonColor: @LightPurple;
@PaymentButtonColor: @LightGreen;
@ReminderButtonColor: @DarkRed;
@EmailButtonColor: @LightBlue;
@FileMailButtonColor: @DarkGray;

@green: #009688;
@lighterGreen: #5cb85c;
@lightestGreen: #E2F4F2;
@primaryColor: @green;
@grey: #cdcdcd;
@secondaryColor: @lightestGreen;
@sideNavColor: #3c5788;


@buttonColor: @secondaryColor;
@buttonBorderColor: @secondaryColor;

@actionButtonColor: @lighterGreen;
@actionButtonBorderColor: darken(@actionButtonColor, 14%);

@resetButtonColor: @grey;
@restButtonBorderColor: darken(@resetButtonColor, 14%);
