

.cardGeneral(@bgColor: @LightGray){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: @bgColor;
    .cardBorderGeneral();
    margin-bottom: 4%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.cardBorderGeneral(@borderColor: @DarkGray) {
    border: 2px solid @borderColor;
    border-radius: 3px;
}

.h3General(@fontFamily: @RalewayMedium, @fontSize: 1.3rem, @fontColor: @PrimaryTextColor){
    font-size:  @fontSize;
    font-family:@fontFamily;
    margin-top: 4px;
    color: @fontColor;
}

div.flex-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 420px;
    flex-grow: 1;
}

div.contact-card{
   .cardGeneral();
    
    
}

div.contact-card > div.contactPhoto{
    order: 1;
    flex: 1 0 125px;
    padding: 10px;
}

div.contact-card > div.contactPhoto > img {
    width: 80px;
    height: 50px;
    border-radius: 50%;
}
div.contact-card > div.contactInfo{
    order: 2;
    flex: 2 0 355px;

}

div.contact-card > div.contactInfo > div.contactData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    padding-top: 2%;
    margin-bottom: 2%;
}

div.contact-card > div.contactInfo > div.contactData > div.row > label{
    order: 1;
    flex: 1 0 100px;
    font-family: @RobotoSlab;
    font-size: @CardLabelTextSize;
    padding-left: 12%;
}

div.contact-card > div.contactInfo > div.contactData > div.row > input,
div.contact-card > div.contactInfo > div.contactData > div.row > span.value {
    font-family: @RobotoSlabBold;
    font-size: @CardLabelTextSize;
    order: 2;
    flex: 2 0 255px;
    padding-left: 12%;
}

div.contact-card > div.contactInfo > div.contactData > h3{
    display: block;
    flex: 1 0 50px;    
    
}

div.contact-card > div.contactInfo h2.title{
    font-size: 1.1rem;
    font-family: @RobotoSlabBold;
    color: @PrimaryColor;
    margin: 2%;
    flex: 1 0 100%;

}

div.flex-card{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 100%;
    margin: 5px;
    flex-basis: auto;
    flex-grow: 1;    
    background: #f6F6f6;
    border: 1px inset @SecondaryTextColor;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

div.flex-card > div.cardEdit{
    position: absolute;
    right: 18px;
    top: 10px;
}

div.flex-card > div.cardEdit > img.editIcon {
    width: 35px;
    height: 20px;
}

div.flex-card > div.header{
    display: flex;
    min-width: 400px;
    max-width: 100%;
    flex-grow: 1;    
    flex-direction: row;

}

div.flex-card > div.header > img.photo{
    width: 110px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    order: 1;
}

div.flex-card > div.header > div.contactData{
    order: 2;
    display: flex;
    padding-left: 15%;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 3;    
}


div.flex-card > h3{
    .h3General(@RalewayMedium, 1.3rem, @PrimaryColor);
    margin: 3%;
    text-transform: uppercase;
}


div.flex-card > div.header > div.contactData > h3{
    .h3General();
}

div.flex-card > div.flex-body {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2%;
    padding: 10px 7px;
}


div.flex-card >  div.flex-body > div.flex-row-wrapper{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2%;
    padding: 5px 7px;
}



div.flex-card div.flex-body > div.flex-row-wrapper:last-child{    
    margin-bottom: 0%;
}

div.flex-card > div.flex-body > div.flex-row-wrapper > div.flex-row, 
div.flex-card > div.flex-body > div.flex-row-wrapper:last-child > div.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: none;
    align-items: flex-end;
}

div.flex-card > div.flex-body > div.flex-row-wrapper > div.flex-row > label, 
div.flex-card > div.flex-body > div.flex-row-wrapper:last-child > div.flex-row > label {
    
    font-family: @PrimaryFontMedium;
    font-size: .8rem;
    flex-grow: 1;
    flex-basis: 150px;
    min-width: 150px;    
    text-align: right;
    padding-right: 10%;
    align-self: flex-start;
    color: @PrimaryTextColor;
    font-weight: 550;
    letter-spacing: 1px;
    
    
}

div.flex-card > div.flex-body > div.flex-row-wrapper > div.flex-row > span, 
div.flex-card > div.flex-body > div.flex-row-wrapper:last-child > div.flex-row > span {
    align-self: flex-start;
    font-family: @PrimaryFont;
    font-size: .8rem;
    flex-grow: 2;
    flex-basis: 275px;
    min-width: 275px;
    padding-left: 5%;
}

div.card {
    display: flex;
    min-width: 220px;   
    max-width: 220px;
    font-family: "Lato";
    font-size: 11px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid lighten(#ccc, 5%);
    transition: all 250ms;
    background: #fff;
    margin: 2px;
}

div.card:focus {
    
    border: 3px solid pink;
}

.cardCommon {
    padding: 5px;
}

div.card:hover {
    border-left: 4px solid green;  
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px green;  
}



div.card:active {
    border: 1px solid darken(#ccc, 15%);;    
}


div.card > div.card-header {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    
}

div.card > div.card-header > div.photo {
    display: flex;
    box-sizing: border-box;
    min-width: 50px;
    .cardCommon();
}

div.card > div.card-header > div.photo > img {
    height: 50px;
    border-radius: 50%;
}

div.card > div.card-header > div.profile {
    display: flex;
    flex-grow: 1;
    .cardCommon();
    font-family: 'Lato', sans-serif;   
    font-size: .9em;
}

div.card > div.card-header > div.profile > div.contact {
    display: flex;
    flex-direction: column;
}

div.card > div.card-header > div.profile > div.contact > div.name {
    font-weight: 900;
     font-size: 1.1em;
     letter-spacing: .05em;
}

div.card > div.card-header > div.profile > div.contact > div.email {
    color: darken(#ccc, 5%);
    font-size: .9rem;
    text-transform: lowercase;
}

