@DarkPrimaryColor:   #00796B;
@PrimaryColor:       #009688;
@LightPrimaryColor:  #B2DFDB;
@TextPrimaryColor:   #FFFFFF;
@PrimaryColorText:   #FFFFFF;
@AccentColor:        #9E9E9E;
@PrimaryTextColor:   #212121;
@SecondaryTextColor: #727272;
@DividerColor:       #B6B6B6;
@DarkRed:            #AB151C;
@LightPurple:        #C48DDC;
@LightBlue:          #127FCA;
@LightGreen:         #17B277;
@BrightGreen:        #76BD3D;
@DarkGray:           #323538;
@White:              #FFFFFF;
@LightGray:          #F6F6F6;
@MediumGray:         #CDCDCD;