.toggle{
    margin-left: 20px;
    margin-top: 20px; 
    width: 150px;  
    position: relative;
}

.toggle > label.toogleLabel {
    display: block;
    width: 75px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid darkslategray;   
    border-radius: 20px;
    position: relative;
    content: '';
    z-index: 800;
    overflow: hidden;
    
    
}

.toggle > label.toogleLabel:after{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    top: 0;
    left: 0px;
    background: #000;
}

.toggle > input[type='checkbox']{
    visibility: hidden;
    position: absolute;
    left: 50px;
    top: 0;    
    
}


.toggle input[type='checkbox']:checked + label.toogleLabel:after {
    background: red;
    left: 42px;
}