@import "data-table-variables.less";

div.dataTable {
    box-sizing: border-box;
    font-family: @DataTableFont;
    font-size: @DataTableFontSize;
    display: flex;  
    flex-direction: column; 
    border-right: 1px solid @DarkPrimaryColor;
    border-left: 1px solid @DarkPrimaryColor;
    border-top: 1px solid @DarkPrimaryColor;
    border-bottom: 1px solid @DarkPrimaryColor;
    margin: 20px;
   width: auto;
}

.flexRowCommon {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 100%;
    
}

.flexDataItemCommon {
    flex: 1;
    flex-shrink: 0;

}


div.dataTable > div.dataTableHeaderRow {
    .flexRowCommon;    
    background: @PrimaryColor;
    color: @PrimaryColorText;
    font-family: @DataTableHeaderFont;
    letter-spacing: .9px;
    flex-direction: row;
}

div.dataTable > div.dataTableRow {
    .flexRowCommon;
    flex-direction: row;
}

div.dataTable > div.dataTableRowAlternate {
    .flexRowCommon;
    flex-direction: row;
    background: @DataTableRowAlternateColor;
}

div.dataTable > div.dataTableHeaderRow > div.dataItem {
    .flexRowCommon;
    .flexDataItemCommon;
    
}

div.dataTable > div.dataTableRowAlternate > div.dataItem,
div.dataTable > div.dataTableRow > div.dataItem {
    .flexDataItemCommon;
    
}

.dataTableCommon{
    font-family: @DataTableFont;
    font-size: 1rem;
    border-right: 1px solid @DarkPrimaryColor;
    border-left: 1px solid @DarkPrimaryColor;
    border-top: 1px solid @DarkPrimaryColor;
    border-bottom: 1px solid @DarkPrimaryColor;
    //margin: 10px;
    padding: 7px 7px;
    letter-spacing: 1px;
    
}

div.data-table-header {
    .dataTableCommon();
    text-transform: uppercase;
    letter-spacing: 1px;
    background: @PrimaryColor;
    color: @White;
}

div.data-table {
    .dataTableCommon();
    letter-spacing: 1px;
    border-top: none;
}

div.data-table::first-of-type {
    border-bottom: none;
        
}
