.errorContainer { 
    background:rgba(231,76,60, 6);
    color: #FFF;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 2%;
    padding-top: 7px;
    padding-bottom: 7px;
}

div.errorContainer > li,
div.errorContainer > div { 
    padding: 4px;
    font-size: 1em;
    
}