
@font-face {
    font-family: 'Raleway';
    src: font-url('../fonts/Raleway-Regular.woff');
    src: font-url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: font-url('../fonts/Raleway-Bold.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Raleway Semi Bold';
    src: font-url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    src: font-url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: font-url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway Thin';
    src: font-url('../fonts/Raleway-Thin.ttf');
}

@font-face {
    font-family: 'Raleway Light';
    src: font-url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'Raleway Extra Light';
    src: font-url('../fonts/Raleway-ExtraLight.ttf');
}

@font-face {
    font-family: 'Raleway Extra Bold';
    src: font-url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway Italic';
    src: font-url('../fonts/Raleway-Italic.ttf');
}

@font-face {
    font-family: 'RobotoSlab';
    src: font-url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSlab Italic';
    src: font-url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSlab Bold';
    src: font-url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'RobotoSlab Light';
    src: font-url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'RobotoSlab Thin';
    src: font-url('../fonts/RobotoSlab-Thin.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold Italic';
    src: font-url('../fonts/OpenSans-SemiboldItalic.ttf');
}

@font-face {
    font-family: 'Open Sans - Light Italic';
    src: font-url('../fonts/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: font-url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'Open Sans - Light';
    src: font-url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans - Italic';
    src: font-url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans - Extra Bold Italic';
    src: font-url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Open Sans - Extra Bold';
    src: font-url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Open Sans - Bold Italic';
    src: font-url('../fonts/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'Open Sans - Bold';
    src: font-url('../fonts/OpenSans-Bold.ttf');
}


@font-face {
    font-family: 'Lato Black';
    src: font-url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato Black Italic';
    src: font-url('../fonts/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    src: font-url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato Bold Italic';
    src: font-url('../fonts/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: 'Lato Hairline';
    src: font-url('../fonts/Lato-Hairline.ttf');
}

@font-face {
    font-family: 'Lato Hairline Italic';
    src: font-url('../fonts/Lato-HairlineItalic.ttf');
}

@font-face {
    font-family: 'Lato Italic';
    src: font-url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato Light';
    src: font-url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato Light Italic';
    src: font-url('../fonts/Lato-LightItalic.ttf');
}

@font-face {
    font-family: 'Lato';
    src: font-url('../fonts/Lato-Regular.ttf');
}


