form {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    font-family: @PrimaryFont;
}

.labelCommon {
    font-family: @PrimaryFont; // @RalewayMedium;
    font-size: .9rem;
    align-self: center;
    text-transform: capitalize;    
    // flex: 1 0 100px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 1%;
}

.inputCommon {
    width: 100%;
    padding: .8em;
    font-family: @PrimaryFont;
    font-size: .9em;
    max-width: 400px;
    outline: none;
    text-transform: capitalize;
    line-height: 1.3em;
    height: 1.3em;
    border: none;
    border: 1px solid lightgrey;
    // flex: 2 0 220px;
}


div.rowContainer{
    display: flex;
    flex-wrap: nowrap;    
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}


.rowContainer > .element-group{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    flex: 1 0 320px;
    margin-bottom: 7px;
}

.rowContainer > .element-group > label {
    .labelCommon;
}

input, select,
.rowContainer > .element-group > input {
    .inputCommon;
}

.rowContainer > .element-group > button{
    font-family: @PrimaryFont;
    font-size: 1.1rem;
    justify-content: space-between;
    margin-right: 30px;
    padding-top:  7px;
    padding-bottom: 7px;
    
}

// input[type='file']::before{
   
//     content: 'Select some files';
//   display: inline-block;
//   background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
//   border: 1px solid #999;
//   border-radius: 3px;
//   padding: 30px 8px;
//   outline: none;
//   white-space: nowrap;
//   -webkit-user-select: none;
//   cursor: pointer;
//   text-shadow: 1px 1px #fff;
//   font-weight: 700;
//   font-size: 10pt;
// }

label.form {
    font-family: 'Open Sans Semibold';
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    align-self: center;
    margin-right: 3% !important;
}



