@TotalColumns: 16;
@TotalMobileColumns: 4;
@TotalWidth: 100%;
// @SingleColumnWidth: (@TotalWidth / @TotalColumns);

// Screen Resolutions
// Web      1920 x 1080
// Mobile   320 x 566
// Tablet   1536 x 2048


@MaxWidthWeb: 1920; // 2560;
@MaxHeightWeb: 1080; // 1298;
@MaxWidthMobile: 320;
@MaxHeightMobile: 566;
@MaxWidthTablet: 1536;
@MaxHeightTablet: 2048;
@GutterSizeWeb: .4%;
@GutterSizeMobile: 1.25;
@GutterSizeTablet: 5;
@MaxGutters: 14;

@UsableGridSizeWeb:     (@MaxWidthWeb);
@UsableGridSizeMobile:  (@MaxWidthMobile);
@UsableGridSizeTablet:  (@MaxWidthTablet);


@SingleColumnWidthWeb:          ((@UsableGridSizeWeb) / @TotalColumns);
@SingleColumnPercentageWeb:     (@SingleColumnWidthWeb / @UsableGridSizeWeb);
@SingleColumnWidthMobile:       (@UsableGridSizeMobile / @TotalMobileColumns);
@SingleColumnPercentageMobile:  (@SingleColumnWidthMobile / @UsableGridSizeMobile);
@SingleColumnWidthTablet:       (@UsableGridSizeTablet / @TotalColumns);
@SingleColumnPercentageTablet:  (@SingleColumnWidthTablet / @UsableGridSizeTablet);

@Mobile: ~"only screen and (max-width: @{MaxHeightMobile})";
@Tablet: ~"only screen and (max-width:  @{MaxHeightTablet})";
@Web: ~"only screen and (max-width: 12450)";
// @Web: ~"only screen and (max-width: @{MaxHeightWeb})";