@import "grid-variables.less";


.gridGeneral {
   
   position: relative;
   display: flex;
   overflow: hidden;
   box-sizing: border-box;
   
}

.columnGeneral() {    
    .gridGeneral();
    
}

.row {
    .gridGeneral();
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;

}



.flex-container {
    .gridGeneral();
    flex: 0 0 100%;
    flex-direction: column;
    
    
}

.center {
    align-items: center;
}


.row.even-spacing {
    align-content: space-around;
}


.generate-columns(@n, @i: 1) when (@i =< @n) {
    .flex-container > .row > .col-@{i},
    
     div.row > .col-@{i}, .col-@{i} {
        .gridGeneral();    
        .columnGeneral();            
        width: (@SingleColumnPercentageWeb * @i) * 100%;
        
        
    }

    .col-@{i} {
        box-sizing: border-box;
        display: inline-block;
        width: (@SingleColumnPercentageWeb * @i) * 100%;
        max-width: (@SingleColumnPercentageWeb * @i) * 100%;
    }

    

    // div.row > .col-offset-@{i}, .col-offset-@{i} {
    //     .gridGeneral();    
    //     .columnGeneral();
    //     width:  (@SingleColumnPercentageWeb * @i) * 100%;
    //     min-width: (@SingleColumnPercentageWeb * @i) * 100%;
    //     max-width: (@SingleColumnPercentageWeb * @i) * 100%;
    //     content: "&nbsp;";
        

    // }
    
    @media @Mobile {
        div.row > .col-@{i}, 
        .col-@{i} {
            .gridGeneral();    
            .columnGeneral();             
            
                
                .generate-mobile-column(@i);
        }
    }

    @media @Web {
        div.row > .col-@{i}, .col-@{i} {
        .gridGeneral();    
        .columnGeneral();
        min-width: (@SingleColumnPercentageWeb * @i) * 100%;
       
        

    }
    }

     @media @Tablet {
         div.row > .col-@{i}, .col-@{i} {
        .gridGeneral();    
        .columnGeneral();
             
        width: (@SingleColumnPercentageTablet * @i) * 100%;
        
    }

    }

    .addLastRow(@i, @n) when (@i = @n){
         div.row > .col-@{i}, .col-@{i} {
        .gridGeneral();    
        .columnGeneral();
        width: 100%;
        max-width: 100%;
        
    }   
    }

    
    
  .generate-columns(@n, (@i + 1));
}

.generate-mobile-column(@n) when (@n > @TotalMobileColumns) {
    width: 100%;
    max-width: 100%;
}

.generate-mobile-column(@n) when (@n <= @TotalMobileColumns) {
    width: (@SingleColumnPercentageMobile * @n) * 100%;
} 


.generate-columns(16, 1);

.addLastRow(16,16);

div.row > [class^="col-"]:last-of-type {

        margin-right: 0px;

     }

.row.center,
[class^="col-"].center {
    justify-content: center;
}

.row.right,
[class^="col-"].right {
    justify-content: flex-end;
}

.row.left,
[class^="col-"].left {
    justify-content: flex-start;
}


.column {
    flex-direction: column;
}

.row > div[class^="col-"] > input {
    padding: .9em;
    font-family: 'Open Sans Semibold';
    font-size: .9em;
}

.row > div[class^="col-"]:last-of-type {
    margin-bottom: .3em;
}

