.hashtagContainer{
    display: inline-block;
    background: @LightBlue;
    border-radius: @HashTag_Container_Radius;
    margin-bottom: 5px;
    margin-right: 5px;
}

.hastagText-General{
    display: inline-block; 
    padding-left: 5px; 
    padding-right: 5px;
    height: @HashTag_Height; 
    line-height: @HashTag_Height;
    text-align: left; 
    margin: 5px;
    font-family: @HashTag_Font;
    color: @HashTag_Font_Color;
    letter-spacing: 1.4px;
}

.hashtagContainer > .hashtagText{
    .hastagText-General;
}

.hashtagContainer > .hashtagClose{
    .hastagText-General;
}

.hashtagContainer > .hashtagClose:hover{
    color: @DarkGray;
    font-weight: bolder;
}

