@import "colors.less";
@import "HeaderVariables.less";


header{
    min-height: 100px;
    height: 3vh;
    max-height: 3vh;
    border: 1px dashed @HeaderH3TextColor;
}

header span::first-letter{
     color: red !important;
     font-size: 4rem !important;
     border: 1px solid @HeaderH3TextColor;
}

h3.header{
    color: @DarkGray;
     font-size: 1.3rem !important;
     border-bottom: 1.3px solid @HeaderH3TextColor;
     text-transform: uppercase;
     margin-bottom: 10px;
     letter-spacing: 1px;
}

.generalH3FirstLetter{
    color: darken(@HeaderH3TextColor, 5%);
     font-size: 2rem !important;
     text-transform: uppercase;
}

h3.header::first-letter{
    .generalH3FirstLetter();
     
}

span.firstLetter::first-letter,
h3.firstLetter::first-letter {
    .generalH3FirstLetter();
}