@import "menu-variables.less";

div.hotButton{
    height: 40px;
                width: 40px;
                border-radius: 50%;
                background: #E64C3B;
                position: absolute;
                right: 20px;
                top: -27px;
}

div.hotButton > img{
    height: 20px;
                    position: relative;
                    top: 10px;
                    left: 10px;
}

div.subMenu{
    width: 200px;
    border: 2px solid #00796B;
    position: relative;
    left: -165px;
    top: 18px;
    background: #B2DFDB;                
    z-index: 2500;
}

div.subMenu > div.menuItem
{ 
    border-bottom: 1px solid #00796B;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Raleway';

}

div.subMenu > div.menuItem:hover{
    background: #00796B;
    color: #FFF;
    font-weight: 700;
    transition: background .6s ease-in-out, color .6s ease-in-out;
}


