@import "variables.less";
@import "modal-variables.less";
@import "colors.less";


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

// div.modal-container:before{
//     content: "";
//     background: rgba(0, 0, 0, .5);
//     display: block;
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     // opacity: .8;
//     z-index: 1000;
//     //filter: alpha(opacity=80);
// }

div.modal-container{
    box-sizing: border-box; 
    width: 40%; 
    border: 1px solid @ModalPrimaryColor;
    // margin: 0px;
    // padding: 0px;
    border-radius: 4px;
    margin-left: 2%;
    //position: relative;
    position: absolute;
    left: 30vw;
    top: 20vh;
    z-index: 1500;    
    background: #fff;
    

}





i.modalClose{
    
     font-size: 32px;
     position: absolute;
     right: 10px;
     top: -3px;
     color: #B2DFDB;
     z-index:600;
}



div.modal-container > div.modal-heading{
    font-family: @ModalHeadingFont;
    font-size: @ModalHeadingFontSize;
    color: @PrimaryTextColor;
    background: @ModalPrimaryColor;
    padding: 10px;
}

div.modal-container > div.modal-heading > h3{
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: @PrimaryFont;
    letter-spacing: @HeaderLetterSpacing;
    text-transform: uppercase;
}

div.modal-container > div.modal-heading > h3:after{
    position: absolute;
    background-image: url('../img/delete.png');
    height: 20px;
}

div.modal-container > div.modal-body{
    padding-top: 1%;
    padding-bottom: 1%;
}

div.modal-container > div.modal-body > form {
    min-width: 420px;
}

div.modal-container > div.modal-body > form > div.flex-row-wrapper{
    display: flex;
}

div.modal-container > div.modal-body > form > div.flex-row-wrapper > div.flex-row{
    display: flex; 
    width: 100%;
    padding: 12px 18px;
}

div.modal-container > div.modal-body > form > div.flex-row-wrapper > div.flex-row > label {
    font-family: @PrimaryFont;
    font-size: 1rem;
    padding: 7px 15px;
    min-width: 100px;
}

div.modal-container > div.modal-body > form > div.flex-row-wrapper > div.flex-row > span {

}

div.modal-container > div.modal-body select,
div.modal-container > div.modal-body input{
    flex-grow: 2;
    font-family: @PrimaryFont;
    border: 1px solid @ModalPrimaryColor; 
    outline: @ModalPrimaryColor; 
    border-radius: 4px; 
    font-size: 1rem;
    padding: 7px 10px;
    min-width: 320px;

}

div.modal-container > div.modal-body .wrap{
    flex-wrap: wrap;
}
div.modal-container > div.modal-footer{

}

div.modal-container > div.modal-footer > hr
{
    border-color: @ModalPrimaryColor;
    border-top: 1px;
}

div.modal-container > div.modal-footer > div.row
{
    padding: 6px 12px;
}


div.modal-container > div.modal-footer div.button
{
     padding: 12px 16px; 
     font-family: "oswald";
    //  background: @ModalPrimaryColor;
     color: #FFF;
     letter-spacing: 1px;
     min-width: 75px;
     width: 75px;
     text-align: center;
     text-transform: uppercase;
     border-radius: 5px;
     font-size: 1rem;
     display: inline-block;
     margin-right: 10px;
}