.panel{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: 1px solid @PanelBorderColor;
    min-height: 2vh;
    margin: 0px;
    padding: 0px;
    font-size: 1.6vh;
    width: 100%;
}

.panel-roundSquare{
    .panel;
    border-top-left-radius: @PanelBorderRadius;
    border-top-right-radius: @PanelBorderRadius;
}

.panel-rounded{

    border-top-left-radius: @PanelBorderRadius;
    border-top-right-radius: @PanelBorderRadius;
    border-bottom-left-radius: @PanelBorderRadius;
    border-bottom-right-radius: @PanelBorderRadius;
    padding-bottom: @PanelBorderRadius;
}

.panel > .panel-heading {
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-top: @PanelPaddingGeneral;
    padding-bottom: @PanelPaddingGeneral;
    padding-left: @PanelPaddingGeneral;
    font-size: @PanelHeadingFontSize;
    color: @PanelHeadingFontColor;
    font-family: @PrimaryFont;
    letter-spacing: 2px;
}

.panel > .panel-heading > span{
    font-family: @PrimaryFont;
    text-transform: uppercase;
    font-size: 1em;
    font-family: @DataTableHeaderFont;
    letter-spacing: .9px;
}

.panel > .panel-body{
    margin: @PanelDefaultMargin;
    padding: @PanelDefaultPadding;
    background: #fff;
    font-family: 'Myriad';
    font-size: .8rem;
}

.panel-general{
    background: @PrimaryColor;
}

.panel > .panel-footer{
    margin: @PanelDefaultMargin;
    padding: @PanelDefaultPadding;
    background: #fff;
}

.panel-general > .panel-heading{
    background: @PrimaryColor;
    color: #FFF;
    font-family: @PrimaryFont;
}

.panel-heading{
    background: @PrimaryColor;
    color: #FFF;
    font-family: @PrimaryFont;
}

.panel-body > textarea{
    outline: @EmailButtonColor;

}

.panel-email{
    .panel;
    border: 1px solid @EmailButtonColor;

}
.panel-email > .panel-heading{
    .panel-heading;
    background: @EmailButtonColor;
}

.panel-call{
    .panel;
    border: 1px solid @CallButtonColor;

}
.panel-call > .panel-heading{
    .panel-heading;
    background: @CallButtonColor;
}

textarea:focus {
    outline: @CallButtonColor;
    border: 1px solid @CallButtonColor;
    

}
