@PanelBorderColor: @PrimaryColor;
@PanelHeadingFontSize: 1rem;
@PanelHeadingFontFamily: @RalewayMedium;
@PanelHeadingFontColor: #FFF; 
@PanelBorderRadius: 5px;
@PanelPaddingGeneral: 1%;
@PanelDefaultMargin: 1%;
@PanelDefaultPadding: 1%;


