section.form{
    border: 1px solid @PrimaryColor;

}

.sectionCommon{
    width: 100%;
    max-width: 100%;
}

section > div.header {
    .sectionCommon;
    min-height: @HeaderHeight;
    line-height: @HeaderHeight;
    background: @PrimaryColor;
    padding-top: @HeaderPadding;
    padding-bottom: @HeaderPadding;
    text-align: center;
    text-transform: uppercase;
    color: @HeaderTextColor;
    font-size: @HeaderFontSize;
    letter-spacing: 1px;
}

section > div.body{
    .sectionCommon;
}