/****************************/
/*    FONTS               */
/****************************/

@PrimaryFont:           @Raleway;
@PrimaryFontBold:       @RalewayBold;
@PrimaryFontSemiBold:   @RalewaySemiBold;
@PrimaryFontMedium:     @RalewayMedium;
@PrimaryFontThin:       @RalewayThin;
@PrimaryFontLight:      @RalewayLight;
@PrimaryFontExtraLight: @RalewayExtraLight;
@PrimaryFontExtraBold:  @RalewayExtraBold;
@PrimaryFontItalic:     @RalewayItalic;
@SecondaryButtonFont:   @OpenSansSemibold;



@Raleway: 'Raleway';
@RalewayBold: 'Raleway Bold';
@RalewaySemiBold: 'Raleway Semi Bold';
@RalewayMedium: 'Raleway Medium';
@RalewayThin: 'Raleway Thin';
@RalewayLight: 'Raleway Light';
@RalewayExtraLight: 'Raleway Extra Light';
@RalewayExtraBold: 'Raleway Extra Bold';
@RalewayItalic: 'Raleway Italic';

@RobotoSlab: 'RobotoSlab';
@RobotoSlabBold: 'RobotoSlab Bold';
@RobotoSlabSemiBold: 'RobotoSlab Bold';
@RobotoSlabMedium: 'RobotoSlab';
@RobotoSlabThin: 'Raleway Thin';
@RobotoSlabLight: 'RobotoSlab Light';
@RobotoSlabExtraLight: 'RobotoSlab Light';
@RobotoSlabExtraBold: 'RobotoSlab Bold';
@RobotoSlabItalic: 'RobotoSlab';
@LatoBlack: 'Lato Black';
@LatoBlackItalic: 'Lato Black Italic';
@LatoBold: 'LatoBold';
@LatoBoldItalic: 'Lato Bold Italic';
@LatoHairlineItalic: 'Lato Hairline Italic';
@LatoHairline: 'Lato Hairline';
@LatoItalic: 'Lato Italic';
@LatoLight: 'Lato Light';
@LatoLightItalic: 'Lato Light Italic';
@Lato: 'Lato';


@OpenSansSemibold: 'Open Sans Semibold';

@DefaultFontSize: 16px;


/****************************/
/*    COLORS                */
/****************************/
@import "colors.less";


/****************************/
/*    BUTTONS               */
/****************************/
@import "button-variables.less";


/****************************/
/*    SECTION               */
/****************************/
@import "sectionVariables.less";

/****************************/
/*    SECTION               */
/****************************/
@import "errorVariables.less";


/****************************/
/*    Panels                */
/****************************/
@import "panel-variables.less";


/****************************/
/*    HASHTAGS                */
/****************************/
@import "hashtag-variables.less";

/****************************/
/*    CARD                */
/****************************/
@import "card-variables.less";

@HeaderLetterSpacing: 1px;