@import "includes/reset.less";
@import "includes/variables.less";
@import "includes/buttons.less";
@import "includes/colors.less";
@import "includes/header.less";
@import "includes/fonts.less";
@import "includes/form.less";
@import "includes/sections.less";
@import "includes/grid.less";
@import "includes/data-table.less";



#wrapper{
    width: 100vw;
    min-height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    
}

#columnOne{
    order: 1;
    flex-basis: 150px;
    border: 1px solid navy;
}

#columnTwo{
    order: 2;
    flex-basis: calc(100vw - 150px);
    flex: 2;
    border: 1px solid green;
}


header{
    min-height: 100px;
    height: 10vh;
    flex: 1;
}

header > span{
   font-family:  @RobotoSlabBold;
   color: @DarkPrimaryColor;
   font-size: 1.9rem;
}

#columnTwo > header{
    background: fadeout(@DarkPrimaryColor, 10%);
}

#columnTwo > #body{
    overflow-y: scroll;
}