@import "includes/reset.less";
@import "includes/variables.less";
@import "includes/colors.less";
@import "includes/buttons.less";
@import "includes/header.less";
@import "includes/fonts.less";
@import "includes/form.less";
@import "includes/sections.less";
@import "includes/grid.less";
@import "includes/data-table.less";
@import "includes/components.less";
@import "includes/panels.less";
@import "includes/hashtag.less";
@import "includes/card.less";
@import "includes/menu.less";
@import "includes/modal.less";
@import "includes/Generic-Items.less";


body{
    font-family: @PrimaryFont;
    font-size: 14px;
    
}
#wrapper{
    width: 100vw;
    min-height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    
}






