/*
        RESETS AND DEFAULTS FOR ALL
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/****************************/
/*    FONTS               */
/****************************/
/****************************/
/*    COLORS                */
/****************************/
/****************************/
/*    BUTTONS               */
/****************************/
/****************************/
/*    SECTION               */
/****************************/
/****************************/
/*    SECTION               */
/****************************/
/****************************/
/*    Panels                */
/****************************/
/****************************/
/*    HASHTAGS                */
/****************************/
/****************************/
/*    CARD                */
/****************************/
.btnCommon {
  position: relative;
  vertical-align: top;
  margin-right: 30px;
  border: none;
  border-top-right-radius: 3px;
  background: #00796B;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button {
  position: relative;
  vertical-align: top;
  width: 100%;
  max-width: 150px;
  font-size: 1em;
  margin-right: 30px;
  padding: 15px 28px;
  border: 1px solid #005a50;
  border-top-right-radius: 3px;
  background: #00796B;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button:last-child {
  margin-right: 0px;
}
button:hover,
button:active {
  outline: none;
  transition: background 0.1s ease-in-out 0.3s;
  background: #00554b;
  font-weight: 500;
}
.btn-float {
  vertical-align: top;
  margin-right: 30px;
  border: none;
  border-top-right-radius: 3px;
  background: #00796B;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  position: relative;
}
.btn-float:after {
  position: absolute;
  font-family: 'FontAwesome';
  content: '\f067';
  color: #FFF;
  font-size: 28px;
  top: 0px;
  left: 12px;
}
.buttonDisabledPrimary {
  opacity: .5;
  color: #Ccc;
}
.addButton {
  display: -webkit-box;
  display: flex;
  background: #5cb85c;
  border: 1px solid #3d8b3d;
  margin-right: 5px;
  padding: 5px 10px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  max-width: 320px;
  font-size: .9em;
  min-width: 0;
  font-family: "Raleway";
  letter-spacing: .1em;
}
.addButton:hover {
  background: #007d71;
  color: #E2F4F2;
}
.addButton > div {
  margin-right: 5px;
}
.disabledButton {
  background: rgba(92, 184, 92, 0.1);
  cursor: not-allowed;
}
.disabledButton:hover {
  cursor: not-allowed;
  background: rgba(92, 184, 92, 0.1);
  color: #000;
}
header {
  min-height: 100px;
  height: 3vh;
  max-height: 3vh;
  border: 1px dashed #00796B;
}
header span::first-letter {
  color: red !important;
  font-size: 4rem !important;
  border: 1px solid #00796B;
}
h3.header {
  color: #323538;
  font-size: 1.3rem !important;
  border-bottom: 1.3px solid #00796B;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.generalH3FirstLetter {
  color: #006054;
  font-size: 2rem !important;
  text-transform: uppercase;
}
h3.header::first-letter {
  color: #006054;
  font-size: 2rem !important;
  text-transform: uppercase;
}
span.firstLetter::first-letter,
h3.firstLetter::first-letter {
  color: #006054;
  font-size: 2rem !important;
  text-transform: uppercase;
}
@font-face {
  font-family: 'Raleway';
  src: font-url('../fonts/Raleway-Regular.woff');
  src: font-url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Bold';
  src: font-url('../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Semi Bold';
  src: font-url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  src: font-url('../fonts/raleway-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Medium';
  src: font-url('../fonts/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway Thin';
  src: font-url('../fonts/Raleway-Thin.ttf');
}
@font-face {
  font-family: 'Raleway Light';
  src: font-url('../fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway Extra Light';
  src: font-url('../fonts/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: 'Raleway Extra Bold';
  src: font-url('../fonts/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway Italic';
  src: font-url('../fonts/Raleway-Italic.ttf');
}
@font-face {
  font-family: 'RobotoSlab';
  src: font-url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'RobotoSlab Italic';
  src: font-url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'RobotoSlab Bold';
  src: font-url('../fonts/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: 'RobotoSlab Light';
  src: font-url('../fonts/RobotoSlab-Light.ttf');
}
@font-face {
  font-family: 'RobotoSlab Thin';
  src: font-url('../fonts/RobotoSlab-Thin.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: font-url('../fonts/OpenSans-SemiboldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans - Light Italic';
  src: font-url('../fonts/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: font-url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: font-url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans - Light';
  src: font-url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans - Italic';
  src: font-url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'Open Sans - Extra Bold Italic';
  src: font-url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans - Extra Bold';
  src: font-url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'Open Sans - Bold Italic';
  src: font-url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans - Bold';
  src: font-url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: font-url('../fonts/Lato-Black.ttf');
}
@font-face {
  font-family: 'Lato Black Italic';
  src: font-url('../fonts/Lato-BlackItalic.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: font-url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato Bold Italic';
  src: font-url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
  font-family: 'Lato Hairline';
  src: font-url('../fonts/Lato-Hairline.ttf');
}
@font-face {
  font-family: 'Lato Hairline Italic';
  src: font-url('../fonts/Lato-HairlineItalic.ttf');
}
@font-face {
  font-family: 'Lato Italic';
  src: font-url('../fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Lato Light';
  src: font-url('../fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato Light Italic';
  src: font-url('../fonts/Lato-LightItalic.ttf');
}
@font-face {
  font-family: 'Lato';
  src: font-url('../fonts/Lato-Regular.ttf');
}
form {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  font-family: 'Raleway';
}
.labelCommon {
  font-family: 'Raleway';
  font-size: .9rem;
  align-self: center;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 1%;
}
.inputCommon {
  width: 100%;
  padding: .8em;
  font-family: 'Raleway';
  font-size: .9em;
  max-width: 400px;
  outline: none;
  text-transform: capitalize;
  line-height: 1.3em;
  height: 1.3em;
  border: none;
  border: 1px solid lightgrey;
}
div.rowContainer {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.rowContainer > .element-group {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
          flex: 1 0 320px;
  margin-bottom: 7px;
}
.rowContainer > .element-group > label {
  font-family: 'Raleway';
  font-size: .9rem;
  align-self: center;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 1%;
}
input,
select,
.rowContainer > .element-group > input {
  width: 100%;
  padding: .8em;
  font-family: 'Raleway';
  font-size: .9em;
  max-width: 400px;
  outline: none;
  text-transform: capitalize;
  line-height: 1.3em;
  height: 1.3em;
  border: none;
  border: 1px solid lightgrey;
}
.rowContainer > .element-group > button {
  font-family: 'Raleway';
  font-size: 1.1rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
}
label.form {
  font-family: 'Open Sans Semibold';
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  align-self: center;
  margin-right: 3% !important;
}
section.form {
  border: 1px solid #009688;
}
.sectionCommon {
  width: 100%;
  max-width: 100%;
}
section > div.header {
  width: 100%;
  max-width: 100%;
  min-height: 1.3rem;
  line-height: 1.3rem;
  background: #009688;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1rem;
  letter-spacing: 1px;
}
section > div.body {
  width: 100%;
  max-width: 100%;
}
.gridGeneral {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
.row {
  position: relative;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}
.flex-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.center {
  -webkit-box-align: center;
          align-items: center;
}
.row.even-spacing {
  align-content: space-around;
}
.flex-container > .row > .col-1,
div.row > .col-1,
.col-1 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 6.25%;
}
.col-1 {
  box-sizing: border-box;
  display: inline-block;
  width: 6.25%;
  max-width: 6.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-1,
  .col-1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 25%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-1,
  .col-1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 6.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-1,
  .col-1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 6.25%;
  }
}
.flex-container > .row > .col-2,
div.row > .col-2,
.col-2 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 12.5%;
}
.col-2 {
  box-sizing: border-box;
  display: inline-block;
  width: 12.5%;
  max-width: 12.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-2,
  .col-2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 50%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-2,
  .col-2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 12.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-2,
  .col-2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 12.5%;
  }
}
.flex-container > .row > .col-3,
div.row > .col-3,
.col-3 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 18.75%;
}
.col-3 {
  box-sizing: border-box;
  display: inline-block;
  width: 18.75%;
  max-width: 18.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-3,
  .col-3 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 75%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-3,
  .col-3 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 18.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-3,
  .col-3 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 18.75%;
  }
}
.flex-container > .row > .col-4,
div.row > .col-4,
.col-4 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 25%;
}
.col-4 {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  max-width: 25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-4,
  .col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-4,
  .col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-4,
  .col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 25%;
  }
}
.flex-container > .row > .col-5,
div.row > .col-5,
.col-5 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 31.25%;
}
.col-5 {
  box-sizing: border-box;
  display: inline-block;
  width: 31.25%;
  max-width: 31.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-5,
  .col-5 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-5,
  .col-5 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 31.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-5,
  .col-5 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 31.25%;
  }
}
.flex-container > .row > .col-6,
div.row > .col-6,
.col-6 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 37.5%;
}
.col-6 {
  box-sizing: border-box;
  display: inline-block;
  width: 37.5%;
  max-width: 37.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-6,
  .col-6 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-6,
  .col-6 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 37.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-6,
  .col-6 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 37.5%;
  }
}
.flex-container > .row > .col-7,
div.row > .col-7,
.col-7 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 43.75%;
}
.col-7 {
  box-sizing: border-box;
  display: inline-block;
  width: 43.75%;
  max-width: 43.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-7,
  .col-7 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-7,
  .col-7 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 43.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-7,
  .col-7 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 43.75%;
  }
}
.flex-container > .row > .col-8,
div.row > .col-8,
.col-8 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 50%;
}
.col-8 {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  max-width: 50%;
}
@media only screen and (max-width: 566) {
  div.row > .col-8,
  .col-8 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-8,
  .col-8 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 50%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-8,
  .col-8 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 50%;
  }
}
.flex-container > .row > .col-9,
div.row > .col-9,
.col-9 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 56.25%;
}
.col-9 {
  box-sizing: border-box;
  display: inline-block;
  width: 56.25%;
  max-width: 56.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-9,
  .col-9 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-9,
  .col-9 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 56.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-9,
  .col-9 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 56.25%;
  }
}
.flex-container > .row > .col-10,
div.row > .col-10,
.col-10 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 62.5%;
}
.col-10 {
  box-sizing: border-box;
  display: inline-block;
  width: 62.5%;
  max-width: 62.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-10,
  .col-10 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-10,
  .col-10 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 62.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-10,
  .col-10 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 62.5%;
  }
}
.flex-container > .row > .col-11,
div.row > .col-11,
.col-11 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 68.75%;
}
.col-11 {
  box-sizing: border-box;
  display: inline-block;
  width: 68.75%;
  max-width: 68.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-11,
  .col-11 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-11,
  .col-11 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 68.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-11,
  .col-11 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 68.75%;
  }
}
.flex-container > .row > .col-12,
div.row > .col-12,
.col-12 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 75%;
}
.col-12 {
  box-sizing: border-box;
  display: inline-block;
  width: 75%;
  max-width: 75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-12,
  .col-12 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-12,
  .col-12 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-12,
  .col-12 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 75%;
  }
}
.flex-container > .row > .col-13,
div.row > .col-13,
.col-13 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 81.25%;
}
.col-13 {
  box-sizing: border-box;
  display: inline-block;
  width: 81.25%;
  max-width: 81.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-13,
  .col-13 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-13,
  .col-13 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 81.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-13,
  .col-13 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 81.25%;
  }
}
.flex-container > .row > .col-14,
div.row > .col-14,
.col-14 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 87.5%;
}
.col-14 {
  box-sizing: border-box;
  display: inline-block;
  width: 87.5%;
  max-width: 87.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-14,
  .col-14 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-14,
  .col-14 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 87.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-14,
  .col-14 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 87.5%;
  }
}
.flex-container > .row > .col-15,
div.row > .col-15,
.col-15 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 93.75%;
}
.col-15 {
  box-sizing: border-box;
  display: inline-block;
  width: 93.75%;
  max-width: 93.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-15,
  .col-15 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-15,
  .col-15 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 93.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-15,
  .col-15 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 93.75%;
  }
}
.flex-container > .row > .col-16,
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}
.col-16 {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 566) {
  div.row > .col-16,
  .col-16 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-16,
  .col-16 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-16,
  .col-16 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
  }
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > [class^="col-"]:last-of-type {
  margin-right: 0px;
}
.row.center,
[class^="col-"].center {
  -webkit-box-pack: center;
          justify-content: center;
}
.row.right,
[class^="col-"].right {
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.row.left,
[class^="col-"].left {
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.row > div[class^="col-"] > input {
  padding: .9em;
  font-family: 'Open Sans Semibold';
  font-size: .9em;
}
.row > div[class^="col-"]:last-of-type {
  margin-bottom: .3em;
}
div.dataTable {
  box-sizing: border-box;
  font-family: 'Raleway';
  font-size: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  margin: 20px;
  width: auto;
}
.flexRowCommon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
}
.flexDataItemCommon {
  -webkit-box-flex: 1;
          flex: 1;
  flex-shrink: 0;
}
div.dataTable > div.dataTableHeaderRow {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  background: #009688;
  color: #FFFFFF;
  font-family: 'Raleway Medium';
  letter-spacing: .9px;
  flex-direction: row;
}
div.dataTable > div.dataTableRow {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  flex-direction: row;
}
div.dataTable > div.dataTableRowAlternate {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  flex-direction: row;
  background: #B2DFDB;
}
div.dataTable > div.dataTableHeaderRow > div.dataItem {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  -webkit-box-flex: 1;
          flex: 1;
  flex-shrink: 0;
}
div.dataTable > div.dataTableRowAlternate > div.dataItem,
div.dataTable > div.dataTableRow > div.dataItem {
  -webkit-box-flex: 1;
          flex: 1;
  flex-shrink: 0;
}
.dataTableCommon {
  font-family: 'Raleway';
  font-size: 1rem;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  padding: 7px 7px;
  letter-spacing: 1px;
}
div.data-table-header {
  font-family: 'Raleway';
  font-size: 1rem;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  padding: 7px 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #009688;
  color: #FFFFFF;
}
div.data-table {
  font-family: 'Raleway';
  font-size: 1rem;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  padding: 7px 7px;
  letter-spacing: 1px;
  border-top: none;
}
div.data-table::first-of-type {
  border-bottom: none;
}
#wrapper {
  width: 100vw;
  min-height: 100vh;
  border: 1px solid red;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
#columnOne {
  -webkit-box-ordinal-group: 2;
          order: 1;
  flex-basis: 150px;
  border: 1px solid navy;
}
#columnTwo {
  -webkit-box-ordinal-group: 3;
          order: 2;
  flex-basis: calc(-50vw);
  -webkit-box-flex: 2;
          flex: 2;
  border: 1px solid green;
}
header {
  min-height: 100px;
  height: 10vh;
  -webkit-box-flex: 1;
          flex: 1;
}
header > span {
  font-family: 'RobotoSlab Bold';
  color: #00796B;
  font-size: 1.9rem;
}
#columnTwo > header {
  background: rgba(0, 121, 107, 0.9);
}
#columnTwo > #body {
  overflow-y: scroll;
}

/*# sourceMappingURL=custom.css.map */
