/*
        RESETS AND DEFAULTS FOR ALL
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/****************************/
/*    FONTS               */
/****************************/
/****************************/
/*    COLORS                */
/****************************/
/****************************/
/*    BUTTONS               */
/****************************/
/****************************/
/*    SECTION               */
/****************************/
/****************************/
/*    SECTION               */
/****************************/
/****************************/
/*    Panels                */
/****************************/
/****************************/
/*    HASHTAGS                */
/****************************/
/****************************/
/*    CARD                */
/****************************/
.btnCommon {
  position: relative;
  vertical-align: top;
  margin-right: 30px;
  border: none;
  border-top-right-radius: 3px;
  background: #00796B;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button {
  position: relative;
  vertical-align: top;
  width: 100%;
  max-width: 150px;
  font-size: 1em;
  margin-right: 30px;
  padding: 15px 28px;
  border: 1px solid #005a50;
  border-top-right-radius: 3px;
  background: #00796B;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button:last-child {
  margin-right: 0px;
}
button:hover,
button:active {
  outline: none;
  transition: background 0.1s ease-in-out 0.3s;
  background: #00554b;
  font-weight: 500;
}
.btn-float {
  vertical-align: top;
  margin-right: 30px;
  border: none;
  border-top-right-radius: 3px;
  background: #00796B;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  position: relative;
}
.btn-float:after {
  position: absolute;
  font-family: 'FontAwesome';
  content: '\f067';
  color: #FFF;
  font-size: 28px;
  top: 0px;
  left: 12px;
}
.buttonDisabledPrimary {
  opacity: .5;
  color: #Ccc;
}
.addButton {
  display: -webkit-box;
  display: flex;
  background: #5cb85c;
  border: 1px solid #3d8b3d;
  margin-right: 5px;
  padding: 5px 10px;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  max-width: 320px;
  font-size: .9em;
  min-width: 0;
  font-family: "Raleway";
  letter-spacing: .1em;
}
.addButton:hover {
  background: #007d71;
  color: #E2F4F2;
}
.addButton > div {
  margin-right: 5px;
}
.disabledButton {
  background: rgba(92, 184, 92, 0.1);
  cursor: not-allowed;
}
.disabledButton:hover {
  cursor: not-allowed;
  background: rgba(92, 184, 92, 0.1);
  color: #000;
}
header {
  min-height: 100px;
  height: 3vh;
  max-height: 3vh;
  border: 1px dashed #00796B;
}
header span::first-letter {
  color: red !important;
  font-size: 4rem !important;
  border: 1px solid #00796B;
}
h3.header {
  color: #323538;
  font-size: 1.3rem !important;
  border-bottom: 1.3px solid #00796B;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.generalH3FirstLetter {
  color: #006054;
  font-size: 2rem !important;
  text-transform: uppercase;
}
h3.header::first-letter {
  color: #006054;
  font-size: 2rem !important;
  text-transform: uppercase;
}
span.firstLetter::first-letter,
h3.firstLetter::first-letter {
  color: #006054;
  font-size: 2rem !important;
  text-transform: uppercase;
}
@font-face {
  font-family: 'Raleway';
  src: font-url('../fonts/Raleway-Regular.woff');
  src: font-url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Bold';
  src: font-url('../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Semi Bold';
  src: font-url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  src: font-url('../fonts/raleway-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Medium';
  src: font-url('../fonts/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway Thin';
  src: font-url('../fonts/Raleway-Thin.ttf');
}
@font-face {
  font-family: 'Raleway Light';
  src: font-url('../fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway Extra Light';
  src: font-url('../fonts/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: 'Raleway Extra Bold';
  src: font-url('../fonts/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway Italic';
  src: font-url('../fonts/Raleway-Italic.ttf');
}
@font-face {
  font-family: 'RobotoSlab';
  src: font-url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'RobotoSlab Italic';
  src: font-url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'RobotoSlab Bold';
  src: font-url('../fonts/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: 'RobotoSlab Light';
  src: font-url('../fonts/RobotoSlab-Light.ttf');
}
@font-face {
  font-family: 'RobotoSlab Thin';
  src: font-url('../fonts/RobotoSlab-Thin.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: font-url('../fonts/OpenSans-SemiboldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans - Light Italic';
  src: font-url('../fonts/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: font-url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: font-url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans - Light';
  src: font-url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans - Italic';
  src: font-url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'Open Sans - Extra Bold Italic';
  src: font-url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans - Extra Bold';
  src: font-url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'Open Sans - Bold Italic';
  src: font-url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'Open Sans - Bold';
  src: font-url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: font-url('../fonts/Lato-Black.ttf');
}
@font-face {
  font-family: 'Lato Black Italic';
  src: font-url('../fonts/Lato-BlackItalic.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: font-url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato Bold Italic';
  src: font-url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
  font-family: 'Lato Hairline';
  src: font-url('../fonts/Lato-Hairline.ttf');
}
@font-face {
  font-family: 'Lato Hairline Italic';
  src: font-url('../fonts/Lato-HairlineItalic.ttf');
}
@font-face {
  font-family: 'Lato Italic';
  src: font-url('../fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Lato Light';
  src: font-url('../fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato Light Italic';
  src: font-url('../fonts/Lato-LightItalic.ttf');
}
@font-face {
  font-family: 'Lato';
  src: font-url('../fonts/Lato-Regular.ttf');
}
form {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  font-family: 'Raleway';
}
.labelCommon {
  font-family: 'Raleway';
  font-size: .9rem;
  align-self: center;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 1%;
}
.inputCommon {
  width: 100%;
  padding: .8em;
  font-family: 'Raleway';
  font-size: .9em;
  max-width: 400px;
  outline: none;
  text-transform: capitalize;
  line-height: 1.3em;
  height: 1.3em;
  border: none;
  border: 1px solid lightgrey;
}
div.rowContainer {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.rowContainer > .element-group {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
          flex: 1 0 320px;
  margin-bottom: 7px;
}
.rowContainer > .element-group > label {
  font-family: 'Raleway';
  font-size: .9rem;
  align-self: center;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 1%;
}
input,
select,
.rowContainer > .element-group > input {
  width: 100%;
  padding: .8em;
  font-family: 'Raleway';
  font-size: .9em;
  max-width: 400px;
  outline: none;
  text-transform: capitalize;
  line-height: 1.3em;
  height: 1.3em;
  border: none;
  border: 1px solid lightgrey;
}
.rowContainer > .element-group > button {
  font-family: 'Raleway';
  font-size: 1.1rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
}
label.form {
  font-family: 'Open Sans Semibold';
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  align-self: center;
  margin-right: 3% !important;
}
section.form {
  border: 1px solid #009688;
}
.sectionCommon {
  width: 100%;
  max-width: 100%;
}
section > div.header {
  width: 100%;
  max-width: 100%;
  min-height: 1.3rem;
  line-height: 1.3rem;
  background: #009688;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1rem;
  letter-spacing: 1px;
}
section > div.body {
  width: 100%;
  max-width: 100%;
}
.gridGeneral {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
.row {
  position: relative;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}
.flex-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.center {
  -webkit-box-align: center;
          align-items: center;
}
.row.even-spacing {
  align-content: space-around;
}
.flex-container > .row > .col-1,
div.row > .col-1,
.col-1 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 6.25%;
}
.col-1 {
  box-sizing: border-box;
  display: inline-block;
  width: 6.25%;
  max-width: 6.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-1,
  .col-1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 25%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-1,
  .col-1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 6.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-1,
  .col-1 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 6.25%;
  }
}
.flex-container > .row > .col-2,
div.row > .col-2,
.col-2 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 12.5%;
}
.col-2 {
  box-sizing: border-box;
  display: inline-block;
  width: 12.5%;
  max-width: 12.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-2,
  .col-2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 50%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-2,
  .col-2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 12.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-2,
  .col-2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 12.5%;
  }
}
.flex-container > .row > .col-3,
div.row > .col-3,
.col-3 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 18.75%;
}
.col-3 {
  box-sizing: border-box;
  display: inline-block;
  width: 18.75%;
  max-width: 18.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-3,
  .col-3 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 75%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-3,
  .col-3 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 18.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-3,
  .col-3 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 18.75%;
  }
}
.flex-container > .row > .col-4,
div.row > .col-4,
.col-4 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 25%;
}
.col-4 {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  max-width: 25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-4,
  .col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-4,
  .col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-4,
  .col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 25%;
  }
}
.flex-container > .row > .col-5,
div.row > .col-5,
.col-5 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 31.25%;
}
.col-5 {
  box-sizing: border-box;
  display: inline-block;
  width: 31.25%;
  max-width: 31.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-5,
  .col-5 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-5,
  .col-5 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 31.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-5,
  .col-5 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 31.25%;
  }
}
.flex-container > .row > .col-6,
div.row > .col-6,
.col-6 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 37.5%;
}
.col-6 {
  box-sizing: border-box;
  display: inline-block;
  width: 37.5%;
  max-width: 37.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-6,
  .col-6 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-6,
  .col-6 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 37.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-6,
  .col-6 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 37.5%;
  }
}
.flex-container > .row > .col-7,
div.row > .col-7,
.col-7 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 43.75%;
}
.col-7 {
  box-sizing: border-box;
  display: inline-block;
  width: 43.75%;
  max-width: 43.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-7,
  .col-7 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-7,
  .col-7 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 43.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-7,
  .col-7 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 43.75%;
  }
}
.flex-container > .row > .col-8,
div.row > .col-8,
.col-8 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 50%;
}
.col-8 {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  max-width: 50%;
}
@media only screen and (max-width: 566) {
  div.row > .col-8,
  .col-8 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-8,
  .col-8 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 50%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-8,
  .col-8 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 50%;
  }
}
.flex-container > .row > .col-9,
div.row > .col-9,
.col-9 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 56.25%;
}
.col-9 {
  box-sizing: border-box;
  display: inline-block;
  width: 56.25%;
  max-width: 56.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-9,
  .col-9 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-9,
  .col-9 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 56.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-9,
  .col-9 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 56.25%;
  }
}
.flex-container > .row > .col-10,
div.row > .col-10,
.col-10 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 62.5%;
}
.col-10 {
  box-sizing: border-box;
  display: inline-block;
  width: 62.5%;
  max-width: 62.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-10,
  .col-10 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-10,
  .col-10 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 62.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-10,
  .col-10 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 62.5%;
  }
}
.flex-container > .row > .col-11,
div.row > .col-11,
.col-11 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 68.75%;
}
.col-11 {
  box-sizing: border-box;
  display: inline-block;
  width: 68.75%;
  max-width: 68.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-11,
  .col-11 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-11,
  .col-11 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 68.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-11,
  .col-11 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 68.75%;
  }
}
.flex-container > .row > .col-12,
div.row > .col-12,
.col-12 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 75%;
}
.col-12 {
  box-sizing: border-box;
  display: inline-block;
  width: 75%;
  max-width: 75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-12,
  .col-12 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-12,
  .col-12 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-12,
  .col-12 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 75%;
  }
}
.flex-container > .row > .col-13,
div.row > .col-13,
.col-13 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 81.25%;
}
.col-13 {
  box-sizing: border-box;
  display: inline-block;
  width: 81.25%;
  max-width: 81.25%;
}
@media only screen and (max-width: 566) {
  div.row > .col-13,
  .col-13 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-13,
  .col-13 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 81.25%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-13,
  .col-13 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 81.25%;
  }
}
.flex-container > .row > .col-14,
div.row > .col-14,
.col-14 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 87.5%;
}
.col-14 {
  box-sizing: border-box;
  display: inline-block;
  width: 87.5%;
  max-width: 87.5%;
}
@media only screen and (max-width: 566) {
  div.row > .col-14,
  .col-14 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-14,
  .col-14 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 87.5%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-14,
  .col-14 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 87.5%;
  }
}
.flex-container > .row > .col-15,
div.row > .col-15,
.col-15 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 93.75%;
}
.col-15 {
  box-sizing: border-box;
  display: inline-block;
  width: 93.75%;
  max-width: 93.75%;
}
@media only screen and (max-width: 566) {
  div.row > .col-15,
  .col-15 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-15,
  .col-15 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 93.75%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-15,
  .col-15 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 93.75%;
  }
}
.flex-container > .row > .col-16,
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}
.col-16 {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 566) {
  div.row > .col-16,
  .col-16 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 12450) {
  div.row > .col-16,
  .col-16 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media only screen and (max-width:  2048) {
  div.row > .col-16,
  .col-16 {
    position: relative;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
  }
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > .col-16,
.col-16 {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
div.row > [class^="col-"]:last-of-type {
  margin-right: 0px;
}
.row.center,
[class^="col-"].center {
  -webkit-box-pack: center;
          justify-content: center;
}
.row.right,
[class^="col-"].right {
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.row.left,
[class^="col-"].left {
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.row > div[class^="col-"] > input {
  padding: .9em;
  font-family: 'Open Sans Semibold';
  font-size: .9em;
}
.row > div[class^="col-"]:last-of-type {
  margin-bottom: .3em;
}
div.dataTable {
  box-sizing: border-box;
  font-family: 'Raleway';
  font-size: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  margin: 20px;
  width: auto;
}
.flexRowCommon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
}
.flexDataItemCommon {
  -webkit-box-flex: 1;
          flex: 1;
  flex-shrink: 0;
}
div.dataTable > div.dataTableHeaderRow {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  background: #009688;
  color: #FFFFFF;
  font-family: 'Raleway Medium';
  letter-spacing: .9px;
  flex-direction: row;
}
div.dataTable > div.dataTableRow {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  flex-direction: row;
}
div.dataTable > div.dataTableRowAlternate {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  flex-direction: row;
  background: #B2DFDB;
}
div.dataTable > div.dataTableHeaderRow > div.dataItem {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100%;
  -webkit-box-flex: 1;
          flex: 1;
  flex-shrink: 0;
}
div.dataTable > div.dataTableRowAlternate > div.dataItem,
div.dataTable > div.dataTableRow > div.dataItem {
  -webkit-box-flex: 1;
          flex: 1;
  flex-shrink: 0;
}
.dataTableCommon {
  font-family: 'Raleway';
  font-size: 1rem;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  padding: 7px 7px;
  letter-spacing: 1px;
}
div.data-table-header {
  font-family: 'Raleway';
  font-size: 1rem;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  padding: 7px 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #009688;
  color: #FFFFFF;
}
div.data-table {
  font-family: 'Raleway';
  font-size: 1rem;
  border-right: 1px solid #00796B;
  border-left: 1px solid #00796B;
  border-top: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
  padding: 7px 7px;
  letter-spacing: 1px;
  border-top: none;
}
div.data-table::first-of-type {
  border-bottom: none;
}
.toggle {
  margin-left: 20px;
  margin-top: 20px;
  width: 150px;
  position: relative;
}
.toggle > label.toogleLabel {
  display: block;
  width: 75px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid darkslategray;
  border-radius: 20px;
  position: relative;
  content: '';
  z-index: 800;
  overflow: hidden;
}
.toggle > label.toogleLabel:after {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top: 0;
  left: 0px;
  background: #000;
}
.toggle > input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 0;
}
.toggle input[type='checkbox']:checked + label.toogleLabel:after {
  background: red;
  left: 42px;
}
.panel {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 1px solid #009688;
  min-height: 2vh;
  margin: 0px;
  padding: 0px;
  font-size: 1.6vh;
  width: 100%;
}
.panel-roundSquare {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 1px solid #009688;
  min-height: 2vh;
  margin: 0px;
  padding: 0px;
  font-size: 1.6vh;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.panel-rounded {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
}
.panel > .panel-heading {
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-size: 1rem;
  color: #FFF;
  font-family: 'Raleway';
  letter-spacing: 2px;
}
.panel > .panel-heading > span {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Raleway Medium';
  letter-spacing: .9px;
}
.panel > .panel-body {
  margin: 1%;
  padding: 1%;
  background: #fff;
  font-family: 'Myriad';
  font-size: .8rem;
}
.panel-general {
  background: #009688;
}
.panel > .panel-footer {
  margin: 1%;
  padding: 1%;
  background: #fff;
}
.panel-general > .panel-heading {
  background: #009688;
  color: #FFF;
  font-family: 'Raleway';
}
.panel-heading {
  background: #009688;
  color: #FFF;
  font-family: 'Raleway';
}
.panel-body > textarea {
  outline: #127FCA;
}
.panel-email {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 1px solid #009688;
  min-height: 2vh;
  margin: 0px;
  padding: 0px;
  font-size: 1.6vh;
  width: 100%;
  border: 1px solid #127FCA;
}
.panel-email > .panel-heading {
  background: #009688;
  color: #FFF;
  font-family: 'Raleway';
  background: #127FCA;
}
.panel-call {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 1px solid #009688;
  min-height: 2vh;
  margin: 0px;
  padding: 0px;
  font-size: 1.6vh;
  width: 100%;
  border: 1px solid #C48DDC;
}
.panel-call > .panel-heading {
  background: #009688;
  color: #FFF;
  font-family: 'Raleway';
  background: #C48DDC;
}
textarea:focus {
  outline: #C48DDC;
  border: 1px solid #C48DDC;
}
.hashtagContainer {
  display: inline-block;
  background: #127FCA;
  border-radius: 7px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.hastagText-General {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  margin: 5px;
  font-family: 'Raleway Light';
  color: #FFFFFF;
  letter-spacing: 1.4px;
}
.hashtagContainer > .hashtagText {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  margin: 5px;
  font-family: 'Raleway Light';
  color: #FFFFFF;
  letter-spacing: 1.4px;
}
.hashtagContainer > .hashtagClose {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  margin: 5px;
  font-family: 'Raleway Light';
  color: #FFFFFF;
  letter-spacing: 1.4px;
}
.hashtagContainer > .hashtagClose:hover {
  color: #323538;
  font-weight: bolder;
}
div.flex-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  flex-basis: 420px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
div.contact-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  background: #F6F6F6;
  border: 2px solid #323538;
  border-radius: 3px;
  margin-bottom: 4%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
div.contact-card > div.contactPhoto {
  -webkit-box-ordinal-group: 2;
          order: 1;
  -webkit-box-flex: 1;
          flex: 1 0 125px;
  padding: 10px;
}
div.contact-card > div.contactPhoto > img {
  width: 80px;
  height: 50px;
  border-radius: 50%;
}
div.contact-card > div.contactInfo {
  -webkit-box-ordinal-group: 3;
          order: 2;
  -webkit-box-flex: 2;
          flex: 2 0 355px;
}
div.contact-card > div.contactInfo > div.contactData {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2%;
  margin-bottom: 2%;
}
div.contact-card > div.contactInfo > div.contactData > div.row > label {
  -webkit-box-ordinal-group: 2;
          order: 1;
  -webkit-box-flex: 1;
          flex: 1 0 100px;
  font-family: 'RobotoSlab';
  font-size: 14px;
  padding-left: 12%;
}
div.contact-card > div.contactInfo > div.contactData > div.row > input,
div.contact-card > div.contactInfo > div.contactData > div.row > span.value {
  font-family: 'RobotoSlab Bold';
  font-size: 14px;
  -webkit-box-ordinal-group: 3;
          order: 2;
  -webkit-box-flex: 2;
          flex: 2 0 255px;
  padding-left: 12%;
}
div.contact-card > div.contactInfo > div.contactData > h3 {
  display: block;
  -webkit-box-flex: 1;
          flex: 1 0 50px;
}
div.contact-card > div.contactInfo h2.title {
  font-size: 1.1rem;
  font-family: 'RobotoSlab Bold';
  color: #009688;
  margin: 2%;
  -webkit-box-flex: 1;
          flex: 1 0 100%;
}
div.flex-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 400px;
  max-width: 100%;
  margin: 5px;
  flex-basis: auto;
  -webkit-box-flex: 1;
          flex-grow: 1;
  background: #f6F6f6;
  border: 1px inset #727272;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  padding-bottom: 2%;
  margin-bottom: 5%;
}
div.flex-card > div.cardEdit {
  position: absolute;
  right: 18px;
  top: 10px;
}
div.flex-card > div.cardEdit > img.editIcon {
  width: 35px;
  height: 20px;
}
div.flex-card > div.header {
  display: -webkit-box;
  display: flex;
  min-width: 400px;
  max-width: 100%;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
div.flex-card > div.header > img.photo {
  width: 110px;
  height: 80px;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-ordinal-group: 2;
          order: 1;
}
div.flex-card > div.header > div.contactData {
  -webkit-box-ordinal-group: 3;
          order: 2;
  display: -webkit-box;
  display: flex;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-flex: 3;
          flex-grow: 3;
}
div.flex-card > h3 {
  font-size: 1.3rem;
  font-family: 'Raleway Medium';
  margin-top: 4px;
  color: #009688;
  margin: 3%;
  text-transform: uppercase;
}
div.flex-card > div.header > div.contactData > h3 {
  font-size: 1.3rem;
  font-family: 'Raleway Medium';
  margin-top: 4px;
  color: #212121;
}
div.flex-card > div.flex-body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2%;
  padding: 10px 7px;
}
div.flex-card > div.flex-body > div.flex-row-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2%;
  padding: 5px 7px;
}
div.flex-card div.flex-body > div.flex-row-wrapper:last-child {
  margin-bottom: 0%;
}
div.flex-card > div.flex-body > div.flex-row-wrapper > div.flex-row,
div.flex-card > div.flex-body > div.flex-row-wrapper:last-child > div.flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  overflow: none;
  -webkit-box-align: end;
          align-items: flex-end;
}
div.flex-card > div.flex-body > div.flex-row-wrapper > div.flex-row > label,
div.flex-card > div.flex-body > div.flex-row-wrapper:last-child > div.flex-row > label {
  font-family: 'Raleway Medium';
  font-size: .8rem;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-basis: 150px;
  min-width: 150px;
  text-align: right;
  padding-right: 10%;
  align-self: flex-start;
  color: #212121;
  font-weight: 550;
  letter-spacing: 1px;
}
div.flex-card > div.flex-body > div.flex-row-wrapper > div.flex-row > span,
div.flex-card > div.flex-body > div.flex-row-wrapper:last-child > div.flex-row > span {
  align-self: flex-start;
  font-family: 'Raleway';
  font-size: .8rem;
  -webkit-box-flex: 2;
          flex-grow: 2;
  flex-basis: 275px;
  min-width: 275px;
  padding-left: 5%;
}
div.card {
  display: -webkit-box;
  display: flex;
  min-width: 220px;
  max-width: 220px;
  font-family: "Lato";
  font-size: 11px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  transition: all 250ms;
  background: #fff;
  margin: 2px;
}
div.card:focus {
  border: 3px solid pink;
}
.cardCommon {
  padding: 5px;
}
div.card:hover {
  border-left: 4px solid green;
  outline: none;
  border-color: green;
  box-shadow: 0 0 5px green;
}
div.card:active {
  border: 1px solid #a6a6a6;
}
div.card > div.card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
div.card > div.card-header > div.photo {
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  min-width: 50px;
  padding: 5px;
}
div.card > div.card-header > div.photo > img {
  height: 50px;
  border-radius: 50%;
}
div.card > div.card-header > div.profile {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
}
div.card > div.card-header > div.profile > div.contact {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
div.card > div.card-header > div.profile > div.contact > div.name {
  font-weight: 900;
  font-size: 1.1em;
  letter-spacing: .05em;
}
div.card > div.card-header > div.profile > div.contact > div.email {
  color: #bfbfbf;
  font-size: .9rem;
  text-transform: lowercase;
}
div.hotButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #E64C3B;
  position: absolute;
  right: 20px;
  top: -27px;
}
div.hotButton > img {
  height: 20px;
  position: relative;
  top: 10px;
  left: 10px;
}
div.subMenu {
  width: 200px;
  border: 2px solid #00796B;
  position: relative;
  left: -165px;
  top: 18px;
  background: #B2DFDB;
  z-index: 2500;
}
div.subMenu > div.menuItem {
  border-bottom: 1px solid #00796B;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Raleway';
}
div.subMenu > div.menuItem:hover {
  background: #00796B;
  color: #FFF;
  font-weight: 700;
  transition: background 0.6s ease-in-out, color 0.6s ease-in-out;
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
div.modal-container {
  box-sizing: border-box;
  width: 40%;
  border: 1px solid #009688;
  border-radius: 4px;
  margin-left: 2%;
  position: absolute;
  left: 30vw;
  top: 20vh;
  z-index: 1500;
  background: #fff;
}
i.modalClose {
  font-size: 32px;
  position: absolute;
  right: 10px;
  top: -3px;
  color: #B2DFDB;
  z-index: 600;
}
div.modal-container > div.modal-heading {
  font-family: 'Raleway';
  font-size: 1.2rem;
  color: #212121;
  background: #009688;
  padding: 10px;
}
div.modal-container > div.modal-heading > h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-family: 'Raleway';
  letter-spacing: 1px;
  text-transform: uppercase;
}
div.modal-container > div.modal-heading > h3:after {
  position: absolute;
  background-image: url('../img/delete.png');
  height: 20px;
}
div.modal-container > div.modal-body {
  padding-top: 1%;
  padding-bottom: 1%;
}
div.modal-container > div.modal-body > form {
  min-width: 420px;
}
div.modal-container > div.modal-body > form > div.flex-row-wrapper {
  display: -webkit-box;
  display: flex;
}
div.modal-container > div.modal-body > form > div.flex-row-wrapper > div.flex-row {
  display: -webkit-box;
  display: flex;
  width: 100%;
  padding: 12px 18px;
}
div.modal-container > div.modal-body > form > div.flex-row-wrapper > div.flex-row > label {
  font-family: 'Raleway';
  font-size: 1rem;
  padding: 7px 15px;
  min-width: 100px;
}
div.modal-container > div.modal-body select,
div.modal-container > div.modal-body input {
  -webkit-box-flex: 2;
          flex-grow: 2;
  font-family: 'Raleway';
  border: 1px solid #009688;
  outline: #009688;
  border-radius: 4px;
  font-size: 1rem;
  padding: 7px 10px;
  min-width: 320px;
}
div.modal-container > div.modal-body .wrap {
  flex-wrap: wrap;
}
div.modal-container > div.modal-footer > hr {
  border-color: #009688;
  border-top: 1px;
}
div.modal-container > div.modal-footer > div.row {
  padding: 6px 12px;
}
div.modal-container > div.modal-footer div.button {
  padding: 12px 16px;
  font-family: "oswald";
  color: #FFF;
  letter-spacing: 1px;
  min-width: 75px;
  width: 75px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1rem;
  display: inline-block;
  margin-right: 10px;
}
.mar-2 {
  margin: 2px;
}
.mar-5 {
  margin: 5px;
}
.mar-10 {
  margin: 10px;
}
.mar-15 {
  margin: 15px;
}
body {
  font-family: 'Raleway';
  font-size: 14px;
}
#wrapper {
  width: 100vw;
  min-height: 100vh;
  border: 1px solid red;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

/*# sourceMappingURL=SlyFramework.css.map */
